
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  padding: 20px;
  color: white;
  text-shadow: 0 0 10px black;
  background-image: "funny.gif";
}
header {
  height: 50px;
  width: 350px;
  background-color: orange;
  text-align: center;
  padding: 20px;
  margin: 0 auto;

  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: white; /* text stands out against rainbow */
}
a {
  display: inline-block;
  background: 
orange;
  color: 
white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
header {
  background: linear-gradient(135deg, 
orange, 
orangered,
);
  color: 
white;
  padding: 80px 20px;
}

main {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
}